/* add home page styles here */


body {

   
    /*grid-template-rows: 50px 50px 1fr 40px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "recipe"
    "footer"
    "slideshow"
    ;
    */

    font-family: 'Roboto Mono', monospace;
    
    /* Colors */
   /* CSS */
   --eggshell: hsla(52, 9%, 96%, 1);
   --terra-cotta: hsla(13, 58%, 88%, 1);
   --independence: hsla(234, 33%, 36%, 1);
   --green-sheen: rgb(129, 178, 154);
   --deep-champagne: rgb(244, 241, 222);
   background-color: var(--deep-champagne);
}

header{

    background-color: pink;
    background-color: var(--green-sheen) ;
    color: var(--deep-champagne) ;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    position:fixed;
     left:0px;
     top:0px;
     width:100%;
     clear: both;
     z-index: 11;
     grid-area: header;


}


nav{

    background-color: orange;
    grid-area: nav;
    background-color: var(--green-sheen);
    color: var(--eggshell) ;
    position:fixed;
    left:0px;
    top:40px;
    width:100%;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: left;
}

.navScroll{
    position: fixed;
    top: 0;
    
}

 a{
    
    padding: 5px;
    text-decoration :none;
    margin:5px;
    
    
}




 a:link,:visited{
    color: var(--deep-champagne);
}

 a:hover {

    color: var(--green-sheen);
    background-color:var(--deep-champagne);

}

main{ background-color:green;
    grid-area: recipe;
}

footer{
    background-color:var(--green-sheen);
    color: var(--deep-champagne);
    grid-column: span 2;
    position:fixed;
     left:0px;
     bottom:0;
     width:100%;
     z-index: 10;
     display: flex;
    align-items: center;
    justify-content: start;
    grid-area: footer;
}


table {
    text-align:left;
    border-collapse:collapse;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px grey;
    background-color: var(--green-sheen);
    color: var(--deep-champagne);
    
    
   
    }

th, td {
    border: 3px ridge black;
    padding-left:5px;
    padding-right:5px;
    }

p {
    padding: 10px;
}

#test-butt{
    border-radius: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    color: var(--deep-champagne);
    box-shadow: 10px 10px 5px grey;
}

#test-butt:hover {
    background-color: var(--deep-champagne);
    color: var(--green-sheen);
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.recipe {
    
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-areas: 
    "title  title title title"
    "time convert tips serv" 
    "photo ingred ingred ingred"
    "photo steps steps steps"
    "source source source source";
    padding: 10px;
    

}
@media only screen and (max-width: 600px){
.recipe {
    position: absolute;
    top: 100px;
    grid-column: span 2;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    

    }
}

.recipe-title {

    background-color:var(--green-sheen);
    margin: 10px 20px;
    padding: 10px;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--deep-champagne);
    grid-area: title;

    

}

.time-serves{
    color: var(--green-sheen);
    grid-area: time;
}

.measurements {
    background-color: var(--green-sheen);
    border: 2px solid black;
    grid-column: span 1;
    grid-area: convert;
    margin: 10px auto;
    
}

.servings-calc{
    grid-area: serv;
}

.food-photos {
    width: 100%;
    color: var(--green-sheen);
    grid-area: photo;
}

.ingredients {

    padding-bottom: 10px;
    grid-area: ingred;

}

.tips {
background-color: var(--green-sheen);
color: var(--deep-champagne);
height: fit-content;
z-index: 100;
padding: 5px;
margin: auto;
text-align: center;
transition: 0.3s;
border: 2px solid black;
box-shadow: 10px 10px 5px grey;
grid-area: tips;

}

.tips summary{
    border-bottom: 2px solid var(--deep-champagne);
} 

.tips:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.tips ul{
    text-align: left;
    padding: 5px ;
    list-style: square;
    list-style-position: inside;
    
}

.recipe-steps {
    color: var(--green-sheen);
    width: 75%;
    overflow: auto;
    margin: 20px 10% ;
    font-size: 1em;
    padding: 5px;
    grid-area: steps;

}

.recipe-steps p {
    border-bottom: solid 2px black;
}

.source {
    background-color: blueviolet;
    background-color: var(--deep-champagne);
    color: var(--green-sheen);
    height: fit-content;
    grid-area: 5/1/6/5;
    margin-bottom: 50px ;
    padding: 10px;
    grid-area: source;
}

.source:hover{
    border: 2px solid black;
    color: var(--deep-champagne);
    background-color: var(--green-sheen);
}
   


.source a {
    color: var(--deep-champagne);
    text-decoration: underline;
}

.source a:hover {
    color: var(--green-sheen);
    text-decoration: underline;
}

.servings{
    background-color: blueviolet;
}


#test{
display: none;
 margin:150px;
}

#me{
    position: relative;
    left:0%;
    animation-name: move; 
    animation-duration: 10s; 
    animation-timing-function:cubic-bezier(0.43, 0.67, 0.6, 0.31);
    animation-iteration-count:infinite;
    background-color: blueviolet;
    width: 50px;
}

@keyframes move{

    0% {
        left: 0%;
    }

    25% {
        left: 10%;
    }

    50%{
        left: 20%;
    }
    75% {
        left: 10%;
    }
    100%{
        left: 0%;
    }

}

#slides{
 /*background-color: blue;*/
 overflow: hidden;
}

.pics{
/*background-color: crimson;*/

}

.glider-contain{
    width: 100%;
}

#prev{
    opacity: 0.7;
    color:var(--green-sheen);
    left: 20px;
    top: 50%;
    background-color: var(--deep-champagne);
}

#next{
    opacity: 0.7;
    color:var(--green-sheen);
    background-color: var(--deep-champagne);
    right: 20px;
    top: 50%;
}

.dots {
   color: black;
}