/* add home page styles here */


body {

    display: grid;
    grid-template-rows: 50px 50px 1fr 50px;

}

header{

 background-color: pink;
grid-column: 1/3;

}


nav{

    background-color: orange;
    grid-column: 1/3;

}

main{ background-color:green;
    grid-column: span 2;
}

footer{
    background-color: red;
    grid-column: span 2;
}


.recipe {
grid-column: span 2;
z-index: 10;
display: grid;
grid-template: 20px 30px 1fr 20px 1fr 30px / 1fr 3fr ;

background-color: seashell;

margin: 20px;

}


.recipe-title {

    background-color: skyblue;
    grid-column: span 2;
    

}

.time-serves{
    background-color: springgreen;
    grid-area: auto ;

}

.measurements {
    background-color: thistle;
}

.food-photos {
    background-color: yellow;
    grid-area: 3/1/6/2;

}

.ingredients {

    background-color: blueviolet;

}

.tips {
background-color: chocolate;
}

.recipe-steps {
background-color: darkgreen;

}

.source {
    background-color: darkgrey;

}